# Nominale Daten und Lineare Regression

In [2]:
import pandas as pd

df0 = pd.read_csv("data/hotels.csv")
df0.head()

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin

In [3]:
# get_dummies erzeugt One-Hot-Encoding
df = pd.get_dummies(df0, columns = ["Stadt"])
df.head()
#pd.get_dummies?

,Gewinn,Preis in Mio,Quadratmeter,Stadt_Berlin,Stadt_Köln,Stadt_München
0,119000.0,21.88,3938.0,1,0,0
1,250000.0,27.95,3986.0,0,0,1
2,250000.0,16.09,2574.0,0,1,0
3,145000.0,27.58,4155.0,0,0,1
4,110000.0,23.76,3795.0,1,0,0

In [4]:
Y = df[["Preis in Mio"]].values

In [5]:
# Option 1: Explizit auflisten, welche Spalten wir in X haben möchten
# Ein Stadt darf man aus Redundanzgründen weglassen (keine lin. Abhängikeiten)
X = df[["Gewinn", "Quadratmeter", "Stadt_Berlin", "Stadt_Köln"]].values

# Option 2: Explizit auflisten, welche Spalten wir **nicht** in X haben möchten
#df.drop(labels = ["Preis in Mio", "Stadt_München"], axis = 1).values

In [10]:
# Train / Test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.25)

# Lineare Regression
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print(model.score(X_test, y_test))

0.9688135511825554

In [7]:
# Wie sieht das Modell aus:
model.coef_
# -6.22...: in Köln sind Hotels wohl eher billig zu kaufen.

array([[ 1.13058247e-05,  3.88104273e-03, -3.27562421e+00,
        -6.22584051e+00]])

In [8]:
model.intercept_

array([9.40053308])

In [9]:
#Was kostet ein Hotel mit 100000 Euro Gewinn, 3000 qm in den jew. Städten.
model.predict([[100000, 3000, 0, 0], [100000, 3000, 1, 0], [100000, 3000, 0, 1]])
# 0 0 = München   1 0 = Berlin   0 1 = Kölle

array([[22.17424375],
       [18.89861954],
       [15.94840324]])