# K-Fold Cross-Validation 1

In [1]:
import pandas as pd

df = pd.read_csv("data/hotels.csv")[:20]  # Nur 20, damit man sieht, was Split macht.
#df = pd.read_csv("data/hotels.csv")

df

      Gewinn  Preis in Mio  Quadratmeter    Stadt
0   119000.0         21.88        3938.0   Berlin
1   250000.0         27.95        3986.0  München
2   250000.0         16.09        2574.0     Köln
3   145000.0         27.58        4155.0  München
4   110000.0         23.76        3795.0   Berlin
5   246000.0         22.88        2773.0  München
6    54000.0         13.25         634.0  München
7     2000.0          8.94          82.0  München
8   114000.0         24.87        3706.0  München
9    47000.0         14.11        1692.0   Berlin
10   54000.0         11.65        1989.0     Köln
11  124000.0         17.26        2616.0   Berlin
12  125000.0         18.45        3358.0     Köln
13   62000.0         17.08        1941.0  München
14  250000.0         19.32        1831.0  München
15   24000.0          8.48         800.0   Berlin
16  102000.0         14.16        2700.0     Köln
17   26000.0         13.84        1257.0  München
18   85000.0         19.59        2644.0   Berlin
19  182000.0         18.64        2001.0  München

In [2]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [3]:
X

array([[1.190e+05, 3.938e+03],
       [2.500e+05, 3.986e+03],
       [2.500e+05, 2.574e+03],
       [1.450e+05, 4.155e+03],
       [1.100e+05, 3.795e+03],
       [2.460e+05, 2.773e+03],
       [5.400e+04, 6.340e+02],
       [2.000e+03, 8.200e+01],
       [1.140e+05, 3.706e+03],
       [4.700e+04, 1.692e+03],
       [5.400e+04, 1.989e+03],
       [1.240e+05, 2.616e+03],
       [1.250e+05, 3.358e+03],
       [6.200e+04, 1.941e+03],
       [2.500e+05, 1.831e+03],
       [2.400e+04, 8.000e+02],
       [1.020e+05, 2.700e+03],
       [2.600e+04, 1.257e+03],
       [8.500e+04, 2.644e+03],
       [1.820e+05, 2.001e+03]])

In [4]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

kf = KFold()

In [5]:
#Eine Art Iterationsobjekt
kf.split(X)

In [6]:
for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("---------------------------")

train: [ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
test: [0 1 2 3]
---------------------------
train: [ 0  1  2  3  8  9 10 11 12 13 14 15 16 17 18 19]
test: [4 5 6 7]
---------------------------
train: [ 0  1  2  3  4  5  6  7 12 13 14 15 16 17 18 19]
test: [ 8  9 10 11]
---------------------------
train: [ 0  1  2  3  4  5  6  7  8  9 10 11 16 17 18 19]
test: [12 13 14 15]
---------------------------
train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
test: [16 17 18 19]
---------------------------

In [8]:
for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("-----------")
    X_test = X[test_index]
    X_train = X[train_index]
    
    y_test = Y[test_index]
    y_train = Y[train_index]
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    print(model.score(X_test, y_test))

train: [ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
test: [0 1 2 3]
-----------
0.4689610405646514
train: [ 0  1  2  3  8  9 10 11 12 13 14 15 16 17 18 19]
test: [4 5 6 7]
-----------
0.8261853962315948
train: [ 0  1  2  3  4  5  6  7 12 13 14 15 16 17 18 19]
test: [ 8  9 10 11]
-----------
0.7506249667390328
train: [ 0  1  2  3  4  5  6  7  8  9 10 11 16 17 18 19]
test: [12 13 14 15]
-----------
0.7172283361721099
train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
test: [16 17 18 19]
-----------
-0.014112642069028514