# Projekt zu den statistischen Grundlagen
### Ein Einblick in die Liste der Stadtbediensten der Stadt San Francisco: Dies sind originale Daten!!! 
### (Quelle: Kaggle.com)

In [1]:
import pandas as pd

df = pd.read_csv("data/sf_salaries.csv")
#innerhalb einer Spalte wechselt hier manchmal der Datentyp, darum der Fehler...

C:\Users\michi\AppData\Local\Temp\ipykernel_11876\1417072250.py:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/sf_salaries.csv")

In [2]:
#...dann nimmt man z.B. low_memory=False:
df = pd.read_csv("data/sf_salaries.csv", low_memory=False) #und schon tuts...

In [3]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
df["TotalPay"] # Gibt eine Spalte aus

0         567595.43
1         538909.28
2         335279.91
3         332343.61
4         326373.19
            ...
148649         0.00
148650         0.00
148651         0.00
148652         0.00
148653      -618.13
Name: TotalPay, Length: 148654, dtype: float64

In [5]:
len(df)

148654

In [6]:
df["TotalPay"] > 50000   # wendet einen Operator auf alle EintrÃ¤ge an.

0          True
1          True
2          True
3          True
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPay, Length: 148654, dtype: bool

In [7]:
len(df[df["TotalPay"] > 50000] ) #filtert die ganze Tabelle nach Eigenschaften in einer Spalte

102762

In [8]:
high_paying_jobs = df[df["TotalPay"] > 500000] #...neues Dataframe in einer Variable speichern

In [9]:
high_paying_jobs.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [10]:
high_paying_jobs["TotalPay"]

0    567595.43
1    538909.28
Name: TotalPay, dtype: float64